body {
  font-size: 16px;
  color: black;
  font-family: 'calibri', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #a1a190;
  border-radius: 0;
  border: 2px solid black;
}

.navbar-brand {
  padding-top: 12px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'calibri', serif;
  color: black;
  font-size: 1.75em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 0px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 2em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.collapsable-nav a span{
  font-size: 1.2em;
}
.text-center{
  color: black;
}
#chicken, #beef, #sushi{
  color: black;
}
p{
  padding: 10px 10px 10px 10px;
  font-size: 17px;
  font-weight: 500;
  color: black;
}
section {
    font-family: calibri,sans-serif;
    font-size: 17px;    
    background-color: #a1a190;
    height: 1000px;
    overflow: auto;
    margin-bottom: 20px;
}
h3 {
    font-weight: 600;
    margin-top: 5px;
    font-family: calibri,sans-serif;
}
h2{
  font-weight: 600;
  margin-bottom: 50px;
  font-size: 2em;
}
hr{
  margin: 0px;
  color: black;
}
/* END HEADER */

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

}
